<header>
  <h1>React Addons</h1>
  <h3>{{filteredContent.length}} Packages</h3>
  <div class="filters">
    {{input id="filter-packages" value=query placeholder="Filter packages"}}
    {{input id="page-limit" value=limitPerPage placeholder="Page limit"}}
  </div>
</header>
<div id="content">
<footer>
  <button {{bind-attr disabled="isFirstPage"}} {{action "changePage" "prev"}}>Previous</button>
  <button {{bind-attr disabled="isLastPage"}} {{action "changePage" "next"}}>Next</button>
</footer>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="package-updated-at">Updated</th>
      </tr>
    </thead>
    <tbody>
      {{#each package in currentContent}}
        <tr {{action "openUrl" package.name}}>
          <td>
            <div class="package-name">{{package.name}}</div>
            <div class="package-description">{{package.description}}</div>
          </td>
          <td>{{package.timeAgo}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}